[user]
	email = chmodas@astutebits.com
	name = Borislav Borisov
	signingKey = 7E84272A5403D4600613E0658C3976A86BA015EB
[color]
    ui = true
    grep = true
    diff = true
    branch = true
    decorate = true
    interactive = true
    status = true
    branch = true
[push]
    default = simple
[alias]
	lol = log --graph --decorate --oneline
	co = checkout
[gpg]
	program = gpg2
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
